/* @TODO Otimizar a importação das fontes com um único link*/
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* pt-> Pontos de tipografia padrão ABNT -> Arial 12pt
mm -> milímetro
cm-> centrímetro */ 

/* Alguns valores de propriedades não tem unidade de medida.
   Exemplo: line-height, aspect-ratio, font-weight */
  
:root {
    font-size: 16px; /* tamanho base do rem -> 1rem = 16px */
    scroll-behavior: smooth; /* tamanho base do rem -> 1rem = 16px*/
    --cor-primaria-texto: #141010;
    --cor-fundo-tags:  #ffffff;
    color: var(--cor-primaria-texto);
    --padding-padrao-secao: 40px;
}

[data-tema="light"] {
     --planofundo: #ffffff;
     --cor-primaria-texto: #cecece;
     --cor-fundo-tags: #111010;
     --cor-fundo-apresentacao: #a04f4f;
     --cor-fundo-formacaoACademica: #d6334c;
}

[data-tema="dark"] {
        --planofundo: #141010;
        --cor-primaria-texto: #bebebe;
        --cor-fundo-tags: #111010;
        --cor-fundo-apresentacao: #a04f4f;
        --cor-fundo-formacaoACademica: #d6334c;
}    
   
body {
    width: 70vw; /* vw: viewport width */
    margin: auto; /* margem com ajuste automático */
    border-radius: 90px;
    font-size: 15px; /* o padrão é 16px */
    font-family: "Asap", sans-serif;
    font-weight: 160;
    background-color: var(--planofundo);
}

.nomecurriculo {
    font-family: "PT Serif", serif;
    font-size: 4rem;
    text-shadow: 2px 2px 2px grey;
    border-radius: 60px;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    color: var(--cor-primaria-texto);
    /* shorthand para margin-top margin-right margin-bottom margin-left*/
}

section {
    padding: 20px 0; 
    /* preechimento [interno] */
}

section#apresentacao {
  background-color: var(--cor-fundo-apresentacao);
}
section#apresentacao p {
    margin-left: 50px;
}


section#formacaoACademica {
    background-color: rgb(232, 144, 158);
}

section#formacaoACademica p {
    margin-left: 50px;
}

section#formacacao { 
    background-color: var(--cor-fundo-formacaoACademica);
}

section#experiencia {
    background-color: rgb(218, 127, 141);
}

#apresentacao, 
#formacaoACademica, 
#formacacao, 
#experiencia, 
#hardskills, 
#softskills, 
#idiomas {
    padding: var (--padding-padrao-secao);
}

/* @TODO
    1. estilizar as demais seçoes - ok
    2. estilizar elementos article - ok 
    3. tirar as sombras de texto - ok
    */

section#hardskills {
    background-color: rgb(250, 154, 170)
}

section#softskills {
    background-color: rgb(249, 171, 183)
}

section#idiomas { 
    background-color: rgb(241, 152, 166)
}

#tecnologias { 
    display: flex; /* exibe como a caixa flexível (Flexbox)*/
    /* Flexbox tem várias propriedades que trabalham junto*/
    justify-content: space-between; /* alinha o conteúdo no eixo principal*/
}

/* Combinadores*/

article h1 { /* h1 descendente de article*/
    font-size: 2rem;
    font-weight: bold; /* bold = 700*/
    margin: 0 0 1rem 0;
}

article h2 { /* h2 descendente de article*/
    font-size: 1.5rem;
    font-weight: 600; /* demi-bol ( quase negrito)*/
    margin: 0 0 1rem 0
    margin-left

}

.autor {
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;   
}
.data {
    font-style: oblique;
    font-size: 80%;
}

.continue-lendo {
    background-color: #808080;
    padding: .5rem 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    color: #fafad2;
    text-decoration: none;
}

.continue-lendo a {
    color: #fafad2;
    text-decoration: none;
}

article p {
    text-align: left;
    height: 100px;
    margin-bottom: 2rem;
    overflow: hidden;
}

article {
    width: 30%; /* do pai ( section id="tecnologias") */
    background-color: #cecece;
    padding: .5rem 1rem;
    border-radius: 5px;
}


.titulo-secao {
    text-transform: uppercase; /* transforma o texto em maiúscula */
    font-family: "Asap", sans-serif;
    color: #030101;
    font-size: 2rem;  
    margin: 1rem 0 1rem 0 ;  /* valores: cima direita baixo esquerda */
    padding: 1rem; /* valores: cima direita baixo esquerda */

}
p{
 line-height: 1,5; /* altura da linha: 1,5x o tamanho padrão */
 margin: 1rem 0 1rem 0; /* valores: cima-baixo esquerda-direita */
}

h3{ 
    font-size: 1.4rem;
    font-weight: 200;
    text-transform:  uppercase;
    margin: 1rem 0; 
    margin-left: 50px;
} 

.lista-tags li {
    display: inline-block;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    margin: 6px 0;
}

.tabela,th,td{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 10px;
    text-align: left;
    margin: 40px;
}
th{
    border: 1px solid #000000;
    background-color: #ffffff;
    text-align: center;
}
td{
    border: 1px solid black;
}
