/* @TODO Otimizar a importação das fontes com um único link*/
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* pt-> Pontos de tipografia padrão ABNT -> Arial 12pt
mm -> milímetro
cm-> centrímetro */ 

/* Alguns valores de propriedades não tem unidade de medida.
   Exemplo: line-height, aspect-ratio, font-weight */
  
:root {
    font-size: 16px; /* tamanho base do rem -> 1rem = 16px */
    scroll-behavior: smooth; /* tamanho base do rem -> 1rem = 16px*/
    --cor-primaria-texto: #141010;
    --cor-fundo-tags:  #ffffff;
    color: var(--cor-primaria-texto);
    --padding-padrao-secao: 40px;
}

[data-tema="light"] {
     --planofundo: #f6f6f6;
     --cor-primaria-texto: #bebebe;
     --cor-fundo-tags: #111010;
     --cor-fundo-apresentacao:  #6A5ACD ; 
     --cor-fundo-formacaoACademica: #836FFF;
     --cor-fundo-formacao: #6959CD;
     --cor-fundo-experiencia:#483D8B ;
     --cor-fundo-hardskills:#6495ED ;
     --cor-fundo-softskills:#4169E1 ;
     --cor-fundo-idiomas:#1E90FF ;
}

[data-tema="dark"] {
        --planofundo: #141010;
        --cor-primaria-texto: #bebebe;
        --cor-fundo-tags: #111010;
        --cor-fundo-apresentacao:  #6A5ACD ; 
        --cor-fundo-formacaoACademica: #836FFF;
        --cor-fundo-formacao: #6959CD;
        --cor-fundo-experiencia:#483D8B ;
        --cor-fundo-hardskills:#6495ED ;
        --cor-fundo-softskills:#4169E1 ;
        --cor-fundo-idiomas:#1E90FF ;
}
   
body {
    width: 70vw; /* vw: viewport width */
    margin: auto; /* margem com ajuste automático */
    border-radius: 90px;
    font-size: 15px; /* o padrão é 16px */
    font-family: "Asap", sans-serif;
    font-weight: 160;
    background-color: var(--planofundo);
}

.nomecurriculo {
    font-family: "PT Serif", serif;
    font-size: 4rem;
    text-shadow: 2px 2px 2px #708090 ;	
    border-radius: 60px;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3 rem;
    margin-left: 3rem;
    color: var(--cor-primaria-texto);
    /* shorthand para margin-top margin-right margin-bottom margin-left*/
}

section {
    padding: 20px 0; 
    /* preechimento [interno] */
}

section#apresentacao {
  background-color: var(--cor-fundo-apresentacao) ;
}

section#apresentacao p {
    margin-left: 50px ;
}


section#formacaoACademica {
    background-color: var(--cor-fundo-formacaoACademica) ;
}

section#formacaoACademica p {
   margin-left: 50px ;
}


section#formacao { 
    background-color: var(--cor-fundo-formacao) ;
}

section#formacao p {
    margin-left: 50px;
}

section#experiencia {
    background-color: var(--cor-fundo-experiencia) ;
}

section#experiencia p {
    margin-left: 50px;
}

#apresentacao, 
#formacaoACademica, 
#formacao, 
#experiencia, 
#hardskills,
#softskills,
#idiomas   {
    padding: var (--padding-padrao-secao) ;
}

/* @TODO
    1. estilizar as demais seçoes - ok
    2. estilizar elementos article - ok 
    3. tirar as sombras de texto - ok
    */

section#hardskills {
    background-color: var(--cor-fundo-hardskills) ;
}

section#hardskills p {
    margin-left: 50px ;
}

section#softskills {
    background-color: var(--cor-fundo-softskills) ;
}

section#softskills p {
    margin-left: 50px ;
}

section#idiomas { 
    background-color: var(--cor-fundo-idiomas) ;
}

section#idiomas p {
    margin-left: 50px ;
}

#tecnologias { 
    display: flex; /* exibe como a caixa flexível (Flexbox)*/
    /* Flexbox tem várias propriedades que trabalham junto*/
    justify-content: space-between; /* alinha o conteúdo no eixo principal*/
}

/* Combinadores*/

article h1 { /* h1 descendente de article*/
    font-size: 3rem;
    font-weight: bold; /* bold = 700*/
    margin: 0 0 2rem 0;
    color:  #141010;
    --plano-fundo: #BA55D3;
}

article h2 { /* h2 descendente de article*/
    font-size: 1.5rem;
    font-weight: 650; /* demi-bol ( quase negrito)*/
    margin: 0 0 1rem 0;
    color: #141010;
}

h2 { 
    margin-left: 50px; 
}

.autor {
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;   
}
.data {
    font-style: oblique;
    font-size: 80%;
}

.continue-lendo {
    background-color: #000000;
    padding: .5rem 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    color: #000000 ;
    text-decoration: none;    
}    

.continue-lendo a {
    color: #000000;
    text-decoration: none;
}

article p {
    text-align: left;
    height: 100px;
    margin-bottom: 4rem;
    overflow: hidden;
    color:#000000;
}

article {
    width: 30%; /* do pai ( section id="tecnologias") */
    background-color: #cecece;
    padding: .5rem 1rem;
    border-radius: 5px;
    color:#000000;
}


.titulo-secao {
    text-transform: uppercase; /* transforma o texto em maiúscula */
    font-family: "Asap", sans-serif;
    color: #030101;
    font-size: 2rem;  
    margin: 1rem 0 1rem 0 ;  /* valores: cima direita baixo esquerda */
    padding: 1rem; /* valores: cima direita baixo esquerda */

}
p{
 line-height: 1,5; /* altura da linha: 1,5x o tamanho padrão */
 margin: 1rem 0 1rem 0; /* valores: cima-baixo esquerda-direita */
}

h3{ 
    font-size: 1.4rem;
    font-weight: 200;
    text-transform:  uppercase;
    margin: 1rem 0; 
    margin-left: 50px;
} 

.lista-tags li {
    display: inline-block;
    background-color: #000000;
    padding: 5px;
    border-radius: 4px;
    margin: 6px 0;
    margin-left: 4px;
}

.tabela,th,td{
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 10px;
    text-align: left;
    margin: 40px;
}

th{
    border: 1px solid #000000;
    background-color:#1C1C1C;
    text-align: center;
}
td{
    border: 1px solid #000000;
}
