@import url('https://fonts.googleapis.com/css2?family=Anta&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    font-size: 16px; /* tamanho base do rem -> 1rem = 16px */
}

body {
    width: 90vw; /* vw: viewport width */
    margin: auto; /* margem com ajuste automático */
    font-size: 20px; /* o padrão é 16px */
    font-family: "Asap", sans-serif;
    font-weight: 250;
}

.nome-curriculo {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    margin-top: 4rem ;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
}

section {
    padding: 40px; /* preechimento [interno] */
}

section#apresentacao {
    background-color: rgb(252, 204, 237);
}

section#formacaoACademica {
    background-color: rgb(251, 176, 176);
}

section#formacacao { 
    background-color: lightpink;
}

section#experiencia {
    background-color: lightgrey;
}

section#hardskills {
    background-color: lightsalmon;
}

section#softskills {
    background-color: lightgoldenrodyellow;
}

section#idiomas { 
    background-color: lightskyblue;
}

.titulo-secao {
    text-transform: uppercase; /* transforma o texto em maiúscula */
    font-family: "Asap", sans-serif;
    color: darkorchid;
    font-size: 4rem;  
    margin: 1rem 0 1rem 0 ;  /* valores: cima direita baixo esquerda */
    padding: 1rem;
}

p{
    line-height: 1.5; /* altura da linha: 1.5x o tamanho padrão*/
}